td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

div#newTaskForm {
    width: 30vh;
    margin: 15px;
}

div#newTaskForm > form > * {
    display: block;
    margin-bottom: 10px;
   
}

button#addTask {
    margin-bottom: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #d8d8d8;
  }
  
  tbody tr:nth-child(even) {
    background-color: #fff;
  }
    
  table {
    background-color: #d8d8d8;
  }